body {
    background: linear-gradient(190deg, #273e44, #0c0018);
    color: #ffffff;
    margin: 0;

    padding-top: 6em;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
}
/* ------------------------homepage---------------------------- */
#floater {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    justify-content: center;
    background-color: #000203ef;
    padding-top: 20px;
    padding-bottom: 20px;
    border: rgb(22, 22, 22) 5px solid;

    display: flex;
    flex-direction: row;
    
    /*for smoother transition between rotation change*/
    transition: transform 0.3s ease;
}
#floater header {
    margin-top: 24px;
    width: 300px;
    text-align: left;
    margin-right: auto;
    margin-left: 50px;
    line-height: 2.2em;

    color: rgb(240, 231, 231);
}
#floater header p {
    line-height: 1em;
    width: 350px;
    padding-top: 30px;
    font-weight: 300;

    color: rgb(240, 231, 231);
}
#floater header h1 {
    font-weight: 400;
}
#floater header h1 span{
    display: inline;
    font-size: 1.8em;
    font-weight: 600;
}
#floater img {
    height: 400px;
    width: auto;
    margin-right: 30px;
    align-items: center;
}
#floater:hover {
    transform: rotate(3deg); 
}
/* -------------------------nav--------------------------- */
.main-nav {
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid white;
    background-color: transparent; /*will turn solid color when scrolling*/
    transition: background-color 0.1 ease;
}
/* .main-nav:not(:first-child) {
    background-color: #000203ef;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
} */
.main-nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.main-nav ul ul {
    position: absolute;
    background-color: #85afbb;
    text-align: left;
    display: none;
    border: #214970ef 3px solid;
    padding: 7px;
}
.main-nav ul ul li {
    display: block;
    text-align: left;
    padding: 5px;
}
.main-nav ul ul li a {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: normal;
}
/*no scale change when hovering subcategories in nav*/
.main-nav ul ul li a:hover {
    transform: none;
}
.main-nav li:hover ul {
    display: block;
}
.main-nav a {
    padding-top: 10px;
    padding-right: 40px;
    font-size: 1.6em;
    font-weight: 700;
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: transform 0.2s ease;
    text-align: center;
    padding-left: 40px;
}
.main-nav a:hover {
    color: rgb(181, 190, 238);
    transform: scale(1.1);
}